* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}


.top {
    background: #1F2937;
}

.header {
    display: flex;
    justify-content: space-around;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;;
}

ul li {
display: inline;

a { 
    text-decoration: none;;
    color: #F9FAF8;
    padding: 5px;
}

}

.signup { 
    display: flex;
    border: solid 2px red;
}

.left {
    display:flex;
    flex-direction: column;
    justify-content: center;
    border: solid 3px green;
    padding: 10px;
    gap: 10px;

    
}

.left h1 {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px; 
}

.left p {
    font-size: 18px;
    color: #E5E7EB;
}

